<app-header></app-header>
<app-main-sidebar></app-main-sidebar>

<div class="content-wrapper">
	<router-outlet></router-outlet>
</div>

<footer class="main-footer">
	<div class="pull-right hidden-xs">
		<b>Version: </b> {{version}}
	</div>
	<strong>Canonn API </strong>
	Copyright © 2017 Cmdr. Nopileos & the Canonn R&D Team |
	<a href="http://canonn.science" target="_blank">http://canonn.science</a> |
	This project is on <a href="https://github.com/canonn-science/ruins" target="_blank"><i class="fa fa-lg fa-github"></i> GitHub</a>
</footer>
