<header class="main-header">
	<a href="" routerLink="/" class="logo">
		<span class="logo-mini"><b>C</b>Api</span>
		<span class="logo-lg"><b>Canonn</b> Api</span>
	</a>

	<!-- top navigation -->
	<nav class="navbar navbar-static-top" role="navigation">

		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
			<span class="sr-only">Toggle navigation</span>
		</a>

		<!-- Navbar Right Menu -->
		<div class="navbar-custom-menu">

				<app-login></app-login>

		</div>
	</nav>
</header>
