<h2>Relicts</h2>
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th *ngIf="auth.hasPermission('edit:relict')">Edit</th>
			<th *ngIf="auth.hasPermission('delete:relict')">Delete</th>
		</tr>
	</thead>
	<tbody>

		<tr *ngFor="let relict of relicts">
			<td>{{relict.id}}</td>
			<td>{{relict.name}}</td>
			<td *ngIf="auth.hasPermission('edit:relict')"><button [disabled]="editingRelict" (click)="edit(relict)">Edit</button></td>
			<td *ngIf="auth.hasPermission('delete:relict')"><button [disabled]="editingRelict" (click)="delete(relict)">Delete</button></td>
		</tr>

	</tbody>
</table>

<button *ngIf="auth.hasPermission('add:relict')" [disabled]="editingRelict" (click)="createNew()">Create new</button>
<div *ngIf="editingRelict">
	<h3>Edit relict:</h3>
	<label for="name">Name:</label> <input name="name" type="text" [(ngModel)]="editingRelict.name">
	<button (click)="discard()">Discard</button> <button (click)="save()">Save</button>
</div>
