<section class="content-header">
	<h1>
		About Canonn API
		<small>v{{version}}</small>
	</h1>
</section>

<section class="content">
	<div class="box box-solid box-default">
		<div class="box-header with-border">
			<h3 class="box-title">Canonn API Changelog</h3>
		</div>
		<div class="box-body">
			<h4>v1.1.0</h4>
			<p>Key features: API Auth & docs.</p>
			<ul>
				<li>Switched to Auth0 API authorization schema</li>
				<li>Added swagger based automated API documentation</li>
				<li>Added EDSM coordinates to systems with code for updates on a regular basis</li>
				<li>Moved secondary artifact from obelisk to codex entry</li>
				<li>Extended map endpoints to return more info</li>
				<li>Added verified flag to obelisks</li>
				<li>Added this about page ;-)</li>
				<li>Small UI tweaks (i.e. better positioned edit buttons)</li>
				<li>Dev, test and prod environments now have different color themes</li>
				<li>Updated dependencies to latest</li>
				<li>Fixed potential hung database updates</li>
			</ul>
			<h4>v1.0.0</h4>
			<p>Initial version with basic features.</p>
			<ul>
				<li>Show base data entries for all users</li>
				<li>Auth0 authentication</li>
				<li>Provide edit (basic CRUD) operations for base data entries for users with permissions</li>
				<li>Automatic deployment and automatic database upgrades on deployment</li>
				<li>Sync of system and body id's with EDSM entry id's</li>
			</ul>

		</div>
	</div>
</section>
