<section class="content-header">
	<h1>
		Canonn API
		<small>v{{version}}</small>
	</h1>
</section>

<section class="content">
	<div class="box box-solid box-default">
		<div class="box-header with-border">
			<h3 class="box-title">Welcome to Canonn API</h3>
		</div>
		<div class="box-body">
			<p>This is the Canonn Science API system. The API will allow you to easily consume the data that <a href="http://canonn.science" target="new"><i>Canonn.science</i></a> gathers during its research.</p>
			<p><b>General information:</b>
				If you just want to browse the data, you do not need to sign in.<br/>
				Unless you know you should be able to edit the data, and have been granted
				permission to do so (ask the Canonn Science R&D team for that),
				there will be no difference for you if you sign in.</p>
			<p>Geeky / technical information: This administration interface is build with Angular 4.0. The API backend is build on top of .NET Core. You can find the source at <a href="https://github.com/canonn-science/CanonnApi" target="_blank"><i class="fa fa-github"></i> Github</a></p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9 col-sm-6 col-xs-12">
			<div class="box box-solid box-info">
				<div class="box-header with-border">
					<h3 class="box-title"><i class="fa fa-book "></i> API documentation</h3>
				</div>
				<div class="box-body">
					<p>You can find the api documentation in an explorable way here on our <a href="{{apiBaseUrl}}/docs" target="new"><i class="fa fa-book "></i> API documentation website</a>.</p>
					<p>We are using <a href="http://swagger.io/" target="new">swagger</a> to provide you with
						all information you need about our API, so you can use the
						<a href="{{apiBaseUrl}}/docs" target="new">swagger ui</a> to learn and experiment with
						our API. You can also use the swagger files shown there to automatically create
						clients for our API.</p>
				</div>
			</div>
		</div>

		<!-- version box -->
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="box box-success box-solid">
				<div class="box-header with-border">
					<h3 class="box-title"><i class="fa fa-info"></i>&nbsp;&nbsp;Version information</h3>
				</div>
				<div class="box-body">
					<div class="clearfix">
						Frontend: <span class="info-box-number pull-right">{{version}}</span>
					</div>
					<div class="clearfix">
						API: <span class="info-box-number pull-right">{{apiVersion}}</span>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="box box-solid box-info">
				<div class="box-header with-border">
					<h3 class="box-title"><i class="fa fa-phone-square"></i>&nbsp;&nbsp;Contact information</h3>
				</div>
				<div class="box-body">
					<p>You can easily contact the Canonn R&D team on the Canonn Science <a href="http://canonn.science/codex/resource/discord/" target="new">Discord chat</a>. We are happy to help you with any questions regarding the Canonn API system. Ask for one of the R&D team members.</p>
					<p>If you need technical help with this system, find a bug or have a feature request, feel free to create an issue on our <a href="https://github.com/canonn-science/CanonnApi/issues" target="new">GitHub</a> page.</p>
					<p>If you feel like you should have write access to the Canonn Science API system, please contact one of our R&D team members to set you up for access. To speed things up, first sign in with your Google or Twitter account and then contact us providing your Google account email address or Twitter handle.</p>
					The team members are (in alphabetical order):
					<ul>
						<li>AdmlAdama (Development Interactive Maps)
							<a href="https://forums.frontier.co.uk/member.php/149570-AdmlAdama" target="new"><i class="fa fa-comments"></i></a>
							<a href="https://github.com/CmdrAdama" target="new"><i class="fa fa-github"></i></a>
						</li>
						<li>DMehaffy (Infrastructure & Hosting)
							<a href="https://forums.frontier.co.uk/member.php/89809-DMehaffy" target="new"><i class="fa fa-comments"></i></a>
							<a href="https://github.com/derrickmehaffy" target="new"><i class="fa fa-github"></i></a>
							<a href="https://www.reddit.com/user/dmehaffy" target="new"><i class="fa fa-reddit"></i></a>
						</li>
						<li>Nopileos (Development API Front- and Backend)
							<a href="https://forums.frontier.co.uk/member.php/19716-Phoenix" target="new"><i class="fa fa-comments"></i></a>
							<a href="https://github.com/sgingter" target="new"><i class="fa fa-github"></i></a>
							<a href="https://twitter.com/phoenixhawk/" target="new"><i class="fa fa-twitter"></i></a>
						</li>
						<li>Noshei (Science & Data)
							<a href="https://forums.frontier.co.uk/member.php/73548-Noshei" target="new"><i class="fa fa-comments"></i></a>
						</li>
						<li>Zebarmy (Science & Data)
							<a href="https://forums.frontier.co.uk/member.php/18113-Zebarmy" target="new"><i class="fa fa-comments"></i></a>
							<a href="https://github.com/zebarmy" target="new"><i class="fa fa-github"></i></a>
							<a href="https://twitter.com/zebarmy/" target="new"><i class="fa fa-twitter"></i></a>
							<a href="https://www.reddit.com/user/Zebarmy" target="new"><i class="fa fa-reddit"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</section>
