<section class="content-header">
	<h1>Base data: Codex data
		<small>Data entries from the Guardians' obelisk network</small>
	</h1>
</section>
<section class="content">
	<div class="row">

		<div class="col-xs-12" *ngIf="!editingData">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Codex data</h3>
				</div>
				<div class="box-body">

					<table class="table table-striped">

						<thead>
						<tr>
							<th class="column-shrink" *ngIf="auth.hasPermission('edit:codexdata')">Edit</th>
							<th class="column-shrink">#</th>
							<th>Category</th>
							<th>1.&nbsp;Artifact</th>
							<th>2.&nbsp;Artifact</th>
							<th>No.</th>
							<th class="column-expand">Text</th>
							<th class="column-shrink" *ngIf="auth.hasPermission('delete:codexdata')">Delete</th>
						</tr>

						</thead>
						<tbody>

						<tr role="row" *ngFor="let entry of data">
							<td *ngIf="auth.hasPermission('edit:codexdata')">
								<button class="btn btn-xs" [disabled]="editingData" (click)="edit(entry)" title="Edit"><i class="fa fa-edit"></i></button>
							</td>
							<td>{{entry.id}}</td>
							<td>{{baseData.codexCategoryLookup[entry.categoryId]?.name || 'n/a'}}</td>
							<td>{{baseData.artifactLookup[baseData.codexCategoryLookup[entry.categoryId]?.artifactId || 0]?.name}}</td>
							<td>{{baseData.artifactLookup[entry.artifactId]?.name || '[any]'}}</td>
							<td>{{entry.entryNumber}}</td>
							<td>{{entry.text}}</td>
							<td *ngIf="auth.hasPermission('delete:codexdata')">
								<button class="btn btn-xs btn-danger" [disabled]="editingData" (click)="delete(entry)" title="Delete"><i class="fa fa-trash-o"></i></button>
							</td>
						</tr>

						</tbody>
					</table>
				</div>

				<div class="box-footer" *ngIf="auth.hasPermission('add:codexdata')">
					<button class="btn btn-sm btn-success" [disabled]="editingData" (click)="createNew()" title="add codex data"><i class="fa fa-plus"></i> Add new codex data</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row" *ngIf="editingData">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title"><a id="editor"></a>{{ editingData.id == 0 ? 'Add new' : 'Edit existing' }} codex data</h3>
				</div>
				<div class="box-body">
					<form class="form-horizontal">
						<div class="form-group" *ngIf="(editingData.id !== 0)">
							<label class="col-sm-3 control-label" for="dataid">#</label>
							<div class="col-sm-9">
								<input class="form-control" id="dataid" name="id" type="text" [(ngModel)]="editingData.id" disabled>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" for="entrycategory">Category:</label>
							<div class="col-sm-9">
								<select class="form-control" id="entrycategory" name="entrycategory" placeholder="Select category" [(ngModel)]="editingData.categoryId">
									<option *ngFor="let category of baseData.codexCategoryData" [ngValue]="category.id">{{category.name}} ({{baseData.artifactLookup[category.artifactId]?.name}})</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label" for="artifact">Secondary artifact:</label>
							<div class="col-sm-9">
								<select class="form-control" id="artifact" name="artifact" placeholder="Select secondary artifact" [(ngModel)]="editingData.artifactId">
									<option [ngValue]="null">any / none</option>
									<option *ngFor="let item of baseData.artifactData" [ngValue]="item.id">{{item.name}}</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label" for="entryno">Entry number:</label>
							<div class="col-sm-9">
								<input class="form-control" id="entryno" type="number" name="entryno" [(ngModel)]="editingData.entryNumber" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label" for="text">Text:</label>
							<div class="col-sm-9">
								<input class="form-control" id="text" name="text" type="text" [(ngModel)]="editingData.text">
							</div>
						</div>
					</form>
				</div>
				<div class="box-footer">
					<div class="col-sm-3"></div>
					<div class="col-sm-9">
						<button class="btn btn-primary" (click)="save()">Save</button>
						<button class="btn" (click)="discard()">Discard</button>
					</div>
				</div>
			</div>
		</div>

	</div>

</section>
