<section class="content-header">
	<h1>Base data: Codex categories
		<small>Categories of data from the Guardians' obelisk network</small>
	</h1>
</section>
<section class="content">
	<div class="row">

		<div class="col-xs-6">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Codex categories</h3>
				</div>
				<div class="box-body">

					<table class="table table-striped">

						<thead>
						<tr>
							<th class="column-shrink" *ngIf="auth.hasPermission('edit:codexdata')">Edit</th>
							<th class="column-shrink">#</th>
							<th>Category name</th>
							<th>Primary artifact</th>
							<th class="column-shrink" *ngIf="auth.hasPermission('delete:codexdata')">Delete</th>
						</tr>

						</thead>
						<tbody>

						<tr role="row" *ngFor="let category of data">
							<td *ngIf="auth.hasPermission('edit:codexdata')">
								<button class="btn btn-xs" [disabled]="editingData" (click)="edit(category)" title="Edit"><i class="fa fa-edit"></i></button>
							</td>
							<td>{{category.id}}</td>
							<td>{{category.name}}</td>
							<td>{{baseData.artifactLookup[category.artifactId]?.name || 'n/a'}}</td>
							<td *ngIf="auth.hasPermission('delete:codexdata')">
								<button class="btn btn-xs btn-danger" [disabled]="editingData" (click)="delete(category)" title="Delete"><i class="fa fa-trash-o"></i></button>
							</td>
						</tr>

						</tbody>
					</table>
				</div>

				<div class="box-footer" *ngIf="auth.hasPermission('add:codexdata')">
					<button class="btn btn-sm btn-success" [disabled]="editingData" (click)="createNew()" title="add codex category"><i class="fa fa-plus"></i> Add new codex category</button>
				</div>
			</div>
		</div>


		<div class="col-xs-6" *ngIf="editingData">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">{{ editingData.id == 0 ? 'Add new' : 'Edit existing' }} codex category</h3>
				</div>
				<div class="box-body">
					<form class="form-horizontal">
						<div class="form-group" *ngIf="(editingData.id !== 0)">
							<label class="col-sm-3 control-label" for="dataid">#</label>
							<div class="col-sm-9">
								<input class="form-control" id="dataid" name="id" type="text" [(ngModel)]="editingData.id" disabled>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" for="dataname">Name:</label>
							<div class="col-sm-9">
								<input class="form-control" id="dataname" name="name" type="text" [(ngModel)]="editingData.name">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" for="artifactid">Primary artifact:</label>
							<div class="col-sm-9">
							<select class="form-control" id="artifactid" name="artifactid" placeholder="Select primary artifact" [(ngModel)]="editingData.artifactId">
								<option *ngFor="let entry of baseData.artifactData" [ngValue]="entry.id">{{entry.name}}</option>
							</select>
							</div>
						</div>
					</form>
				</div>
				<div class="box-footer">
					<div class="col-sm-3"></div>
					<div class="col-sm-9">
						<button class="btn btn-primary" (click)="save()">Save</button>
						<button class="btn" (click)="discard()">Discard</button>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Public API description</h3>
				</div>
				<div class="box-body">
					<p><code><span class="label label-success">HTTP GET</span> /api/v1/codex/category</code><p>
					<p>Returns:</p>
					<pre>{{format(data?.slice(1, 5))}}</pre>
				</div>
			</div>
		</div>
	</div>
</section>
